.testing {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.testing h1{
  font-family: "Righteous", cursive;
}

.homes {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}



.homes2 {
  margin-top: 3%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 778px){
  .testing {
    display: flex;
    flex-direction: column;
  }
  
  .homes {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
  }
  
  .homes2 {
    margin-top: 1%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}